body {
	margin:0px;
	padding:0px;
}

.iphone {
	background-image:url('../images/iPhone5Frame.png');
	background-repeat:no-repeat;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index: 0;
}

.iphone-content
{
	position: absolute;	
	top:205px;
	left:157px;
	width:320px;
	height:568px;
	overflow:hidden;
	z-index: 50;
}

.laser {
	background-image: url('../images/slice.png');
	background-repeat: repeat-x;
	width:100%;
	height:150px;
	position:absolute;
	top:0px;
	left:0px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	opacity: 0;	
	z-index: 100;
}

.flipped {
	-webkit-transform: rotate(0deg);
}

.clouds-bg {
	background-image:url('../images/clouds-bg.png');
	background-repeat: no-repeat;
	position: absolute;	
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 0;
}

.button {
	z-index:200;
	position:absolute;
}


